<html>
    <head>
    </head>
    <body>
<form action="" method="POST"  novalidate>
    {% csrf_token  %}
    <p>{{obj.username.label}}:{{ obj.username }}
        {{ errors.username.0 }}
    </p>
    <p>{{ obj.password }}
        {{ errors.password.0 }}
    </p>
    <p>{{obj.status.label}}:{{ obj.status }}
        {{ errors.password.0 }}
    </p>
    <p>{{obj.age.label}}:{{ obj.age }}
        {{ errors.age.0 }}
    </p>
    <p>{{obj.mobile.label}}:{{ obj.mobile }}
        {{ errors.mobile.0 }}
    </p>
    错误信息汇总在一起显示：
    {{  errors }}
    <input type="submit" value="提交">
</form>
    </body>
</html>