全部用户信息
<table border=1>
    {% for list in users %}
        <tr>
            <td>姓名</td>
            <td>昵称</td>
        </tr>
        <tr>
            <td>当前值：{{ list.username }}</td>
            <td>当前值：{{ list.nickname }}</td>
        </tr>
    {% endfor %}
</table>
编号为1的用户信息
<table border=1>
        <tr>
            <td>姓名</td>
            <td>昵称</td>
        </tr>
        <tr>
            <td>当前值：{{ oneuser.username }}</td>
            <td>当前值：{{ oneuser.nickname }}</td>
        </tr>
</table>